@import 'tailwindcss';
@plugin 'daisyui';
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-inter: var(--inter);
}

* {
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

.dark {
  scrollbar-color: #6d6d6d #0a0a0a;
}

@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

.shiki {
  background-color: #fafafa !important;
}

.dark .shiki {
  background-color: #171717 !important;
}

.dark .shiki * {
  color: var(--shiki-dark) !important;
}

input[type='number'] {
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::view-transition-group(root) {
  animation-duration: 200ms;
}
