@import 'tailwindcss';
@plugin 'daisyui';

@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

[data-variant='default'] {
  @apply rounded-lg bg-neutral-900 px-3 py-1.75 text-sm text-white transition-colors duration-150 pointer-fine:hover:bg-neutral-800;
}
